@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
 html {
	 display: grid;
	 min-height: 100%;
}
 body {
	 display: grid;
	 overflow: hidden;
	 font-family: 'Lato', sans-serif;
	 text-transform: uppercase;
	 text-align: center;
	 padding: 0;
	 margin: 0;
}
 #container {
	 position: relative;
	 margin: auto;
	 overflow: hidden;
	 width: 100vw;
	 height: 100vh;
}

#container .img-end-simulation{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}

 h1 {
	 font-size: 0.9em;
	 font-weight: 100;
	 letter-spacing: 3px;
	 padding-top: 5px;
	 color: black;
	 padding-bottom: 5px;
	 /* text-transform: uppercase; */
	 font-family: "Comic Sans MS", "Comic Sans";
	 font-size: xx-large;
}
h2 {
	font-size: 0.9em;
	font-weight: 100;
	letter-spacing: 3px;
	padding-top: 5px;
	color: black;
	padding-bottom: 5px;
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: large;
}
 .green {
	 color: black;
	 font-family: "Comic Sans MS", "Comic Sans";
}
 .alert {
	 font-weight: 700;
	 letter-spacing: 5px;
}
 p {
	 margin-top: -5px;
	 font-size: large;
	 font-weight: 100;
	 color: #5e5e5e;
	 letter-spacing: 1px;
	 font-family: "Comic Sans MS", "Comic Sans";
}
 button, .dot {
	 cursor: pointer;
}
 #success-box {
	 top: 50%;
	 transform: translate(-50%, -50%);
	 position: absolute;
	 width: 50vw;
	 height: 80vh;
	 left: 50%;
	 /* background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%); */
	 background-color: aliceblue;
	 border-radius: 20px;
	 /* box-shadow: 5px 5px 20px rgba(203, 205, 211, 10); */
	 /* perspective: 40px; */
	 transition: none;
}
 .dot {
	 width: 8px;
	 height: 8px;
	 background: #fcfcfc;
	 border-radius: 50%;
	 position: absolute;
	 top: 4%;
	 right: 6%;
}
 .dot:hover {
	 background: #c9c9c9;
}
 .two {
	 right: 12%;
	 opacity: 0.5;
}
 .face {
	 position: absolute;
	 width: 22%;
	 height: 22%;
	 background: #fcfcfc;
	 border-radius: 50%;
	 border: 1px solid #777;
	 top: 21%;
	 left: 37.5%;
	 z-index: 2;
	 animation: bounce 1s ease-in infinite;
}
 .eye {
	 position: absolute;
	 width: 5px;
	 height: 5px;
	 background: #777;
	 border-radius: 50%;
	 top: 40%;
	 left: 20%;
}
 .right {
	 left: 68%;
}
 .mouth {
	 position: absolute;
	 top: 43%;
	 left: 41%;
	 width: 7px;
	 height: 7px;
	 border-radius: 50%;
}
 .happy {
	 border: 2px solid;
	 border-color: transparent #777 #777 transparent;
	 transform: rotate(45deg);
}
 .shadow {
	 position: absolute;
	 width: 21%;
	 height: 3%;
	 opacity: 0.5;
	 background: #777;
	 left: 40%;
	 top: 43%;
	 border-radius: 50%;
	 z-index: 1;
}
 .scale {
	 animation: scale 1s ease-in infinite;
}
 .message {
	 position: absolute;
	 width: 100%;
	 text-align: center;
	 height: 40%;
	 top: 47%;
}
 .button-box {
	 position: absolute;
	 background: #fcfcfc;
	 width: 50%;
	 height: 15%;
	 border-radius: 20px;
	 top: 73%;
	 left: 25%;
	 outline: 0;
	 border: none;
	 box-shadow: 2px 2px 10px rgba(119, 119, 119, .5);
	 transition: all 0.5s ease-in-out;
}
 .button-box:hover {
	 background: #efefef;
	 transform: scale(1.05);
	 transition: all 0.3s ease-in-out;
}
 @keyframes bounce {
	 50% {
		 transform: translateY(-10px);
	}
}
 @keyframes scale {
	 50% {
		 transform: scale(0.9);
	}
}
 @keyframes roll {
	 0% {
		 transform: rotate(0deg);
		 left: 25%;
	}
	 50% {
		 left: 60%;
		 transform: rotate(168deg);
	}
	 100% {
		 transform: rotate(0deg);
		 left: 25%;
	}
}
 @keyframes move {
	 0% {
		 left: 25%;
	}
	 50% {
		 left: 60%;
	}
	 100% {
		 left: 25%;
	}
}
 