#lock-modal {
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
  }
  .loader {
    display: none;
    align-items: center;
    z-index: 2001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
  }
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    animation: scale-up 1s linear infinite; 
  
  }
  
  .bar:nth-child(2){
    height:35px;
    margin:0 5px;
    animation-delay: 0.25s;
  
  }
  .bar:nth-child(3){
    animation-delay: 0.5s;
  
  }
  @keyframes scale-up{
    20%{
      background-color: #ffff;
      transform: scale(1.5);
    }
    40%{
      transform: scale(1);
    }
  }
  
  