#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.data-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0.52083vw;
  left: 0.52083vw;
}

.map-overlay {
  background: #fff;
  margin-right: 1.04167vw;
  font-family: sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.map-overlay#clock {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: vw_szie(10, 1920);
  top: -0.41667vw;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 3vh;
  margin-top: 2vh;
  right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5%;
  font-size: large;
  font-family: "Orbitron", sans-serif;
  color: white;
  background-color: black;
}

.map-overlay#date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: vw_szie(10, 1920);
  top: -0.41667vw;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 2.5vh;
  margin-top: 6vh;
  right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5%;
  font-size: small;
  font-family: "Orbitron", sans-serif;
  color: white;
  background-color: black;
}

.map-overlay#active-data {
  display: block;
  padding: 0.26042vw 0.52083vw;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
  height: 100px;
  max-width: 25vw;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.map-overlay#active-parcels {
  padding: 0.52083vw;
  height: 170px;
  color: #fff;
  max-width: 25vw;
  font-size: 12px;
  overflow: auto;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 2.08333vw;
}

.map-overlay#parcels-in-system {
  padding: 0.52083vw;
  height: 150px;
  color: #fff;
  max-width: 25vw;
  overflow: auto;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 2.08333vw;
}

.map-overlay#end-button {
  cursor: pointer;
  width: 30px;
  height: 26px;
  position: fixed;
  top: 118px;
  left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.505);
}

.map-overlay .map-table {
  border: 0.5px solid white;
  border-collapse: collapse;
  padding: 0.3125vw;
  text-align: center;
  color: white;
}

.map-overlay .map-table .td-map {
  border: 0.5px solid white;
  border-collapse: collapse;
  padding: 0.3125vw;
  text-align: center;
  color: white;
}
