.input-class{
    display: flex;
    justify-content :center;
}
#show-me{
    display:none; 
}
#show-me .table{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
}
#show-me .priority-tr .priority-td{
    border: 1px solid rgb(86, 227, 223);;
    padding: 10px 80px;
    text-align: center;
    border-radius: 5px;
    color: rgb(86, 227, 223);
}
#show-me .priority-tr .priority-td:hover{
    background-color: rgb(86, 227, 223);;
    color: white;
    transition: 1.2s ease-out;
}

.speeds-wrap{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto 15px;
}
