<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Delivery Service</title>

    <link rel="stylesheet" href="static/css/end.css">
</head>
<body>

    <div id="container">
        <img src="static\img\endImg.PNG" class="img-end-simulation" />

        <div id="success-box">
          <div class="dot"></div>
          <div class="dot two"></div>
          <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
          </div>
            <div class="shadow scale"></div>
          <div class="message"><h1 class="alert">Simulation end</h1><p>may your next delivery be good as ours</p></div>
          <button class="button-box" onclick="window.location.href='/simulation-details'"><h2 class="green">Try again!</h2></button>
    </div>
    
</body>
</html>