<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Traffic</title>

    <link rel="stylesheet" href="static/homepage.css">
</head>
<body>

    <div class="container">
        <div class="road">
            <img src="static/img/road.png" alt="">
        </div>

        <div class="trees">
            <img src="static/img/trees.png" alt="">
            <img src="static/img/trees.png" alt="">
        </div>

        <div class="car">
            <img src="static/img/car.png" alt="" class="car-body">
            <img src="static/img/wheel.png" alt="" class="wheel-1">
            <img src="static/img/wheel.png" alt="" class="wheel-2">
        </div>

        <div class="background">
            <img src="static/img/background.jpg" alt="">
        </div>

        <div class="bicycle">
            <img src="static/img/bicycle.gif" alt="">
        </div>

        <div class="bus">
            <img src="static/img/bus.png" alt="">
        </div>

        <div class="bike">
            <img src="static/img/bike.gif" alt="">
        </div>

        <div class="lorry">
            <img src="static/img/lorry.gif" alt="">
        </div>

    </div>
    
</body>
</html>