<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>

    <link rel="stylesheet" href="static/css/homepage.css">

</head>
<body>

    <div class="video-wrapper">
        <video class="video" playsinline autoplay muted loop>
            <source src="static/img/shipping.mp4" type="video/mp4">
        </video>

        <div class="video-title">
            Welcome to<br/>the shipping simulator 
        </div>

        <button class="start-btn" onclick="window.location.href='/menu1'">lets start !</button>

    </div>

    <script src="static/js/homepage.js"></script>
    
</body>
</html>