<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>

    <link rel="stylesheet" href="static/css/homepage.css">

</head>
<body>

    <div class="homapge-wrapper">

        <div class="title-button">
            <h1 class="title">Welcome to<br/>the shipping simulator </h1>
            <button class="start-btn" onclick="window.location.href='/introduction'">Let's
                start!</button>
        </div>

        <div class="img-wrapper">
            <img src="static\img\homepage.PNG" class="img-props">
        </div>
    </div>    
</body>
</html>