<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/style.css">
    
    <title>Simulator introduction</title>
</head>
<body>
    <main>  
        <form class="form_class">
            <h2>introduction**</h2><br/><br/>
            <div class="form_div">
                <button class="submit_class" type="submit" form="login_form" onclick="window.location.href='/menu1'">NEXT</button>
            </div>
        </form>
    </main>
</body>
</html>