<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/css/introduction.css" />
    <link rel="stylesheet" href="static/css/button.css" />

    <title>Smart Delivery Service</title>
  </head>
  <body>
    <main class="intro-page-wrapper">
      <img src="static\img\app.PNG" class="img-props" />

      <div class="intro-wrapper">
        <h2 class="intro-title">Introduction</h2>

        <div class="intro-content">
          <p class="intro-content-p">
            This simulation introduces an innovative delivery system based on
            the crowds which are already on the road.<br/>
            Parcels can be delivered by more than one driver so that drivers collect parcels from
            stations around the city and drop them off at other stations towards
            the destination.<br/><br/>
            In this simulation you can control the paramaters of the amount of drivers for the next two days, parcels and customer
            preferences.<br/>During the simulation run you will be able to view the
            parcels transferred and get the information about them.
          </p>
          <div class="actions">
            <button
              class="aqua-btn aqua-btn-left"
              type="button"
              onclick="back()"
            >
              < BACK
            </button>
            <button
              class="aqua-btn aqua-btn-right"
              onclick="window.location.href='/simulation-details'"
            >
              NEXT >
            </button>
          </div>
        </div>
      </div>
    </main>

    <script src="static/js/app.js"></script>
  </body>
</html>
