<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/css/introduction.css" />

    <title>Simulator introduction</title>
  </head>
  <body>

    <main class="intro-page-wrapper">
      <img src="static\img\app.PNG" class="img-props">


      <div class="intro-wrapper">
        <h2 class="intro-title">Introduction**</h2>

        <div class="intro-content">
          <p>
            Lorem ipsum dolor sit amet, no petentium gubergren deterruisset eos.
            Cum admodum perpetua ei. Porro scaevola phaedrum nec ei, cu qui
            verear dolores concludaturque, legendos reprehendunt in vis. Alii
            quot adolescens nam ne, te rebum aliquando expetendis eam. Has quas
            oratio repudiare ex, cu duo unum justo definitiones. In mel eripuit
            rationibus reformidans, ius ex tamquam perpetua definiebas, laudem
            blandit sensibus ex qui. Eu vis integre invidunt intellegat, duo et
            veniam decore ullamcorper. Facete insolens repudiare no ius, nam an
            eros magna graecis. Vis ex ornatus antiopam ullamcorper, mel eu duis
            mandamus eloquentiam. Eum dicta tritani in, quo in iisque conceptam
            concludaturque. Facilis mandamus sententiae vim ex, mea prompta
            epicurei ad, qui congue doctus ne. Cum etiam efficiantur te. Vis
            justo dissentiet ad, fugit mucius te sea. Per nulla sensibus ut,
            postea delenit ius an, eam in epicuri moderatius consectetuer.
            Eligendi voluptatum argumentum cu has. Mel et iudico convenire
            imperdiet. Utamur denique eum ei. Graeci intellegat elaboraret at
            pro, no pro iusto voluptaria consequuntur. Ex sea lobortis
            conceptam, ad partem insolens dignissim vis. Vel ea tacimates
            mediocritatem, te quo elit veniam quodsi, lorem apeirian accusata
            qui ne. Vix omnium quaeque detraxit ei, veniam officiis qualisque
            mea an. Illum congue rationibus ius at. Has omnis consequat no,
            tollit saperet ei mei. Et cum dolore ridens interesset, mei eirmod
            laoreet definiebas no. Ne cum tation copiosae definitiones, sea an
            mazim periculis. Quo eu nominavi eleifend mediocritatem, eu graeco
            virtute dolores pro, no bonorum vituperata ius.
          </p>
          <button
            class="intro-btn"
            type="submit"
            form="login_form"
            onclick="window.location.href='/simulation-details'"
          >
            NEXT >
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
