<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>A simple map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    
</head>
<body>
<div id='map'></div>

<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibXVzc2lsIiwiYSI6ImNreGFhMHk0czF6aWgycG81NHBicmZuOGkifQ.Ki0DCgxNto32avvcUQWJxQ';
    var map = L.mapbox.map('map')
        .setView([31.790432720080467 , 34.63724819562294 ], 13.5)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

    var data = JSON.parse('{{stations|tojson|safe}}');

    var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
    }
    var client = new HttpClient();
    client.get('https://api.mapbox.com/directions/v5/mapbox/driving/34.666929602032738,31.811967981669021;34.619748736651466,31.772700974698733?geometries=geojson&overview=full&access_token=pk.eyJ1IjoibXVzc2lsIiwiYSI6ImNreGFhMHk0czF6aWgycG81NHBicmZuOGkifQ.Ki0DCgxNto32avvcUQWJxQ', function(response) {
    var x=JSON.parse(response)['routes'][0]['geometry']['coordinates']
    console.log(x);

    for (let i = 0; i < x.length-1; i++) {
        // console.log(x[i][0], x[i][1])
        // if (i==0 || i==x.length-1){
        //     L.marker([x[i][1], x[i][0]], {icon: L.mapbox.marker.icon({'marker-color': 'yellow'})}).addTo(map);
        // }
        // else{
        //     L.marker([x[i][1], x[i][0]], {icon: L.mapbox.marker.icon({'marker-color': '#f86767'})}).addTo(map);
        // }    

        // var polyline = L.polyline([[ x[i][1], x[i][0] ], {color: 'red'}).addTo(map);
        var polyline = L.polyline([[ x[i][1], x[i][0] ], [ x[i+1][1], x[i+1][0] ]], {color: 'red'}).addTo(map);
        }
    });

    // add markers to map
    for (const station of data) {

            // make a marker for each feature and add to the map
            new L.marker(station, {
                icon: L.mapbox.marker.icon({
                    'marker-color': '#f86767'
                })})
                .addTo(map);
   }

</script>
</body>
</html>