<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>A simple map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />


    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }


        .marker {
            background-image: url('mapbox-icon.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div id='map'></div>

<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibXVzc2lsIiwiYSI6ImNreGFhMHk0czF6aWgycG81NHBicmZuOGkifQ.Ki0DCgxNto32avvcUQWJxQ';
    var map = L.mapbox.map('map')
        .setView([31.790432720080467 , 34.63724819562294 ], 13.5)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));


    var data = JSON.parse('{{ stations | tojson | safe }}');
    // console.log(data);

    // add markers to map
    for (const feature of data.features) {
        // create a HTML element for each feature
        const el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        new L.marker(feature.geometry.coordinates, {
            icon: L.mapbox.marker.icon({
                'marker-color': '#f86767'
            })})
            .addTo(map);
    }


</script>
</body>
</html>

