<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>A simple map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>
<div id='map'></div>

<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoibXVzc2lsIiwiYSI6ImNreGFhMHk0czF6aWgycG81NHBicmZuOGkifQ.Ki0DCgxNto32avvcUQWJxQ';
    var map = L.mapbox.map('map')
        .setView([31.790432720080467 , 34.63724819562294 ], 13.5)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));


    var x=[[34.65267978180447, 31.79653581609056], [34.6529108074645, 31.796622836740987], [34.658266577330146, 31.8095198785306], [34.65998456814748, 31.80985125376073], [34.65680726524424, 31.811224410665826], [34.65991666060499, 31.810352776309365], [34.654529037201335, 31.812626772099204], [34.65551509672302, 31.81477667621152]]
    for (let i = 0; i < x.length; i++) {
        // console.log(x[i][0], x[i][1])
        if (i==0 || i==x.length-1){
            L.marker([x[i][1], x[i][0]], {icon: L.mapbox.marker.icon({'marker-color': 'yellow'})}).addTo(map);
        }
        else{
            L.marker([x[i][1], x[i][0]], {icon: L.mapbox.marker.icon({'marker-color': '#f86767'})}).addTo(map);
        }
    }

    var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
}
var client = new HttpClient();
// origin=[34.638468903401403, 31.797143322647102]
// dest=[34.619748736651466,31.772700974698733]
// client.get('https://api.mapbox.com/directions/v5/mapbox/driving/'+origin.toString()+';'+
// dest.toString()+'?geometries=geojson&overview=full&access_token=pk.eyJ1IjoibXVzc2lsIiwiYSI6ImNreGFhMHk0czF6aWgycG81NHBicmZuOGkifQ.Ki0DCgxNto32avvcUQWJxQ', function(response) {
//     var x=JSON.parse(response)['routes'][0]['geometry']['coordinates']
//     console.log(x);

//     for (let i = 0; i < x.length-1; i++) {
//         var polyline = L.polyline([[ x[i][1], x[i][0] ], [ x[i+1][1], x[i+1][0] ]], {color: 'red'}).addTo(map);
//         }
//     });

function drawRouteBetween2points(origin, dest) {
    client.get('https://api.mapbox.com/directions/v5/mapbox/driving/'+origin.toString()+';'+
    dest.toString()+'?geometries=geojson&overview=full&access_token=pk.eyJ1IjoibXVzc2lsIiwiYSI6ImNreGFhMHk0czF6aWgycG81NHBicmZuOGkifQ.Ki0DCgxNto32avvcUQWJxQ', function(response) {
    var x=JSON.parse(response)['routes'][0]['geometry']['coordinates']
    console.log(x);

    for (let i = 0; i < x.length-1; i++) {
        var polyline = L.polyline([[ x[i][1], x[i][0] ], [ x[i+1][1], x[i+1][0] ]], {color: 'red'}).addTo(map);
        }
    });  
} 


for (let i = 0; i < x.length-1; i++) {
    drawRouteBetween2points(x[i], x[i+1]) 
}













    // var p= [[34.66298873986377, 31.77537251843408], [34.66385643448008, 31.775544673159242], [34.659483092681356, 31.779736712830253], [34.66408404847699, 31.778544880450557], [34.6384689034014, 31.797143322647102]]
    // var p=[[34.64018006846066, 31.790892537920627], [34.654529037201335, 31.812626772099204], [34.65551509672302, 31.81477667621152], [34.64769785346142, 31.80445093870353], [34.64964109429728, 31.807683758598237], [34.64099948759875, 31.793532698116653], [34.62859522548187, 31.77435228709319]]
    // var p=[[34.662436678003395, 31.801053641453006], [34.6529108074645, 31.796622836740987], [34.65267978180447, 31.79653581609056], [34.63369547321626, 31.777465566210342]]
    
    // // L.marker([p[1], p[0]], {icon: L.mapbox.marker.icon({'marker-color': '#136111'})}).addTo(map);

    // for (let i = 0; i < p.length; i++) {
    //     console.log(p[i][0], p[i][1])
    //     L.marker([p[i][1], p[i][0]], {icon: L.mapbox.marker.icon({'marker-color': '#136111'})}).addTo(map);

    // }
    // // L.marker([p[0][1], p[0][0]], {icon: L.mapbox.marker.icon({'marker-color': 'yellow'})}).addTo(map);

    // var w=3
    // L.marker([p[w][1], p[w][0]], {icon: L.mapbox.marker.icon({'marker-color': 'yellow'})}).addTo(map);






    // // Add a new line to the map with no points.
    // var polyline = L.polyline([]).addTo(map);

    // // Keep a tally of how many points we've added to the map.
    // var pointsAdded = 0;

    // // Start drawing the polyline.
    // add();

    // function add() {

    //     // `addLatLng` takes a new latLng coordinate and puts it at the end of the
    //     // line. You optionally pull points from your data or generate them. Here
    //     // we make a sine wave with some math.
    //     polyline.addLatLng(
    //         L.latLng( 31.790432720080467+pointsAdded/2000, 34.63724819562294 +pointsAdded/2000));

    //     // // Pan the map along with where the line is being added.
    //     // map.setView([0, pointsAdded], 3);

    //     // Continue to draw and pan the map by calling `add()`
    //     // until `pointsAdded` reaches 360.
    //     if (++pointsAdded < 100) window.setTimeout(add, 100);
    // }



    // var marker = L.marker([31.790432720080467 , 34.63724819562294], {
    //     icon: L.mapbox.marker.icon({
    //         'marker-color': '#f86767'
    //     })
    // });

    // var t = 0;
    // window.setInterval(function() {
    //     // Making a lissajous curve just for fun.
    //     // Create your own animated path here.
    //     marker.setLatLng(L.latLng(31.790432720080467+pointsAdded/2000, 34.63724819562294 +pointsAdded/2000));
    //     t += 0.1;
    // }, 50);


    // marker.addTo(map);
</script>
</body>
</html>