<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/css/menu.css">
  <link rel="stylesheet" href="static/css/speedBtn.css">
  <link rel="stylesheet" href="static/css/button.css">
  <link rel="stylesheet" href="static/css/explanation.css">
  
</head>
<body>

    <main>
        <form id="login_form" class="form_class" action="/drivers-details" method="POST">
            <h2>Simulation details 🚘</h2><br/><br/>

            <div class="form_div">

                <!--  -->
                <label class="menu-label">Drivers amount :</label>
                <div class="range-wrap">
                    <input type="range" class="range" id="drivers-num" name="drivers-amount" style="accent-color: rgb(86, 227, 223)" step="100" min="100" max="500"><br/>
                    <output class="bubble"></output>
                </div>

                <!--  -->
                <label class="menu-label">Parcels amount :</label>
                <div class="range-wrap">
                    <input type="range" class="range" id="parcels-num" name="parcels-amount" style="accent-color: rgb(86, 227, 223)" step="100" min="100" max="1000"><br/>
                    <output class="bubble"></output>
                </div>

                <!--  -->
                <div class="label-and-explantion-icon"> 
                    <label class="menu-label">Simulation speed :</label>
                    <div class="explanation-bubble-wrap">
                        <div class="explanation-icon-wrap">
                            <i class='bx bx-question-mark explanation-icon'></i>
                        </div>
                        <div class="bubble-wrap">
                            <div class="bubble-content">
                                <div class="arrow"></div>
                                <p class="bubble-text">hjhjfjdksfjaldsjfldjslafjkdls----dfajdkfjldsakfldsjfl</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="speeds-wrap">

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-0.5" value="0.5">
                            <div class="design">
                                x0.5
                            </div>
                    </label>

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-1" value="1" checked>
                            <div class="design">
                                x1
                            </div>
                    </label>

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-1.5" value="1.5">
                            <div class="design">
                                x1.5
                            </div>
                    </label>

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-2" value="2">
                            <div class="design">
                                x2
                            </div>
                    </label>
                </div>

                <div class="actions">
                    <button class="aqua-btn aqua-btn-left" type="button" onclick="back()"> < BACK</button>
                    <button class="aqua-btn aqua-btn-right" type="submit" form="login_form">NEXT ></button>
                </div>
                
            </div>
        </form>

    </main>

    <script src="static/js/app.js"></script>
    <script>
        const driversNum = '{{ driversNum }}';
        const parcelsNum = '{{ parcelsNum }}';
        const speed = '{{ speed }}';
    </script>
    <script src="static/js/menu1.js"></script>
    
</body>
</html>