<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/css/menu.css">
  <link rel="stylesheet" href="static/css/speedBtn.css">
  
</head>
<body>

    <main>
        
        <form id="login_form" class="form_class" action="/menu2" method="POST">
            <h2>Simulation details 🚘</h2><br/><br/>

            <div class="form_div">

                <!--  -->
                <label class="menu-label">Drivers amount :</label>
                <div class="range-wrap">
                    <input type="range" class="range" name="drivers-amount" style="accent-color: rgb(86, 227, 223)" step="100" min="100" max="500"><br/>
                    <output class="bubble"></output>
                </div>

                <!--  -->
                <label class="menu-label">Parcels amount :</label>
                <div class="range-wrap">
                    <input type="range" class="range" name="parcels-amount" style="accent-color: rgb(86, 227, 223)" step="100" min="100" max="1000"><br/>
                    <output class="bubble"></output>
                </div>

                <!--  -->
                <label class="menu-label">Simulation speed :</label>

                <div class="speeds-wrap">

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-0.5" value="0.5">
                            <div class="design">
                                0.5
                            </div>
                    </label>

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-1" value="1" checked>
                            <div class="design">
                                1
                            </div>
                    </label>

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-1.5" value="1.5">
                            <div class="design">
                                1.5
                            </div>
                    </label>

                    <label class="speed-wrap">
                        <input type="radio" name="speed" class="radio-speed" id="speed-2" value="2">
                            <div class="design">
                                2
                            </div>
                    </label>
                </div>

                <button class="submit_class" type="submit" form="login_form">NEXT</button>
            </div>
        </form>

    </main>

    <script src="static/menu1.js"></script>
    
    
</body>
</html>