<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="static/style.css">
  <title>Passing JavaScript Variables</title>
</head>
<body>

    <form action = "http://localhost:5000/map" method = "POST">
      <p>Drivers <input type = "text" name = "Name" /></p>
      <p>Parcels <input type = "text" name = "Physics" /></p>
      <p><input type = "submit" value = "submit" /></p>
    </form>

    <script src="static/userInputs.js"></script>
</body>
</html>

